<div class="container-fluid bg-black ba-main-content-element">
    <div class="container-fluid">
        <h1 style="text-align:center;margin-bottom: 20px;">{{project.name}}</h1>
        <div class="row" style="height:10wh">
            <img src="./../../assets/img/test.jpg" class="col-sm-5 float-left" alt="{{project.name}}" height="600px">
            <div class="col-sm-1"></div>
            <div class="col-sm-6">
                <p>Understand and deliver the desired value of each stake holder be it our customers, investors, owners, employees, government, society or the nature herself.</p>
                <p>To enhance the lifestyle of the tenants/members of the society by providing them the redeveloped house which are superior in quality and design than their current houses.</p>
                <p>To focus on incorporating the latest techniques and technology,to continuously innovate a flexible or comprehensive solution as per the (market) needs.</p>
                <a class="btn btn-secondary" routerLink="/" role="button">Back »</a>

            </div>
        </div>
    </div>
</div>