<div class="container-fluid bg-black ba-main-content-element">
    <div class="container-fluid">
        <h1 style="text-align:center;margin-bottom: 20px;">{{project.name}}</h1>
        <div class="row" style="height:10wh">
            <img src="./../../assets/img/test.jpg" class="col-md-6 float-left" alt="{{project.name}}" height="600px">
            <div class="col-md-6">
                <div class="col-md-12">
                    <p>{{project.address}}</p>
                    <p>{{project.description}}</p>
                </div>
                <div class="col-md-12 elem-center">
                    <a class="btn btn-secondary" (click)="goBack()" role="button">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>