<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark ba-header ba-header-font">

    <a class="nav-link" href="#start-page" pageScroll>
        <img src="./../assets/img/LogoBP.jpg" id="company_logo" alt="logo" />
    </a>

    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

    <div class="navbar-collapse collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="#about" pageScroll>About</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#projects" pageScroll>Projects</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#team" pageScroll>Team</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#contacts" pageScroll>Contacts</a>
            </li>
        </ul>
    </div>
</nav>

<div id="start-page" class="container-fluid parallax ba-main-content-element">
    <!-- <div><a href="#photo" class="ba-main-content-arrow" pageScroll>Arrow</a></div> -->
</div>

<div id="about" class="container-fluid bg-black ba-main-content-element">
    <div class="container-fluid">
        <h1 style="text-align:center">About Us</h1>
        <div class="row" style="height:10wh">
            <div class="col-sm-12">
                <p>Understand and deliver the desired value of each stake holder be it our customers, investors, owners, employees, government, society or the nature herself.</p>
                <p>To enhance the lifestyle of the tenants/members of the society by providing them the redeveloped house which are superior in quality and design than their current houses.</p>
                <p>To focus on incorporating the latest techniques and technology,to continuously innovate a flexible or comprehensive solution as per the (market) needs.</p>
            </div>
        </div>
    </div>
</div>

<div id="projects" class="container-fluid bg-white ba-main-content-element">
    <h1 style="text-align:center">Projects</h1>
    <app-project-selector></app-project-selector>
</div>

<div id="team" class="container-fluid bg-black ba-main-content-element">
    <div class="container-fluid">
        <h1 style="text-align:center">Team</h1>


        <div class="row" style="text-align:center;margin-top:50px;">
            <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width=" 300" height=" 300">
                <h2>Mr. Prakash Sanghvi</h2>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width=" 300" height=" 300">
                <h2>Mr. Vinay Sanghvi</h2>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width=" 300" height=" 300">
                <h2>Mr. Hitesh Sanghvi</h2>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <!-- /.col-lg-4 -->
        </div>
    </div>

</div>

<div id="contacts" class="container-fluid bg-white ba-main-content-element">
    <h1 style="text-align:center">Contacts</h1>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>