<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark ba-header ba-header-font">

    <a class="nav-link" href="#start-page" pageScroll>
        <img src="assets/img/Logo(white).png" id="company_logo" alt="logo" />
    </a>

    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

    <div class="navbar-collapse collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="#about" pageScroll>About</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#projects" pageScroll>Projects</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#team" pageScroll>Team</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#faq" pageScroll>NRI FAQ</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#career" pageScroll>Career</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#contacts" pageScroll>Contacts</a>
            </li>
        </ul>
    </div>
</nav>

<div id="start-page" class="container-fluid parallax ba-main-content-element">
    <!-- <div><a href="#photo" class="ba-main-content-arrow" pageScroll>Arrow</a></div> -->
</div>

<div id="about" class="container-fluid bg-black ba-main-content-element">
    <div class="container-fluid">
        <h1 style="text-align:center">About Us</h1>
        <div class="row" style="height:10wh">
            <div class="col-sm-12">
                <p>Sambhav group’s business development, architecture and construction team is a young team comprising of architects and designers, primarily focusing on parametric and generative computational design techniques operating within the fields
                    of architecture, design, urbanism, research and development.</p>
                <p>The essence of our way is to address the fundamentals through intense programming, offer solutions that balance wit and wisdom, keep it fresh and never lose the visual appeal.</p>
                <p>The focus is always on the context, the constraints and the opportunity that a project presents. We like to create designs that maximize the positive impact of design on the environment, use appropriate technologies and materials and source
                    labor locally</p>
                <p>Any structure, be it construction or architecture is finally a product. This needs to be delivered at expected quality standards, within specified time frame and at a budget. Our design perspective is anchored in constructability assessment
                    and knowledge of local conditions</p>
            </div>
            <div class="col-sm-12">
                <h2 style="text-align:center">Vision</h2>
                <p>To be the leading real estate company in the redevelopment space in India.</p>
            </div>
            <div class="col-sm-12">
                <h2 style="text-align:center">Mission</h2>
                <p>To understand and deliver the desired value of each stake holder be it our customers, investors, owners, employees, government, society or the nature herself.</p>
                <p>To enhance the lifestyle of the tenants/members of the society by providing them the redeveloped house which are superior in quality and design than their current houses.</p>
                <p>To focus on incorporating the latest techniques and technology, to continuously innovate a flexible or comprehensive solution as per the (market) needs.</p>
            </div>

            <div class="col-sm-12 elem-center">
                <img style="max-width: 90%;" src="assets/img/building.jpg" alt="Generic placeholder image">
            </div>
        </div>
    </div>
</div>

<div id="projects" class="container-fluid bg-white ba-main-content-element">
    <app-project-selector></app-project-selector>
</div>

<div id="team" class="container-fluid bg-black ba-main-content-element">
    <app-team-selector></app-team-selector>
</div>

<div id="career" class="container-fluid bg-white ba-main-content-element">
    <app-career-selector></app-career-selector>
</div>

<div id="faq" class="container-fluid bg-black ba-main-content-element">
    <app-nrifaq-selector></app-nrifaq-selector>
</div>

<div id="faq" class="container-fluid bg-white ba-main-content-element">
    <app-partner-selector></app-partner-selector>
</div>

<div id="contacts" class="container-fluid bg-black ba-main-content-element">
    <div class="container-fluid">
        <h1 style="text-align:center; margin-top: 2%;">Contacts</h1>
        <div class="row" style="height:10wh">
            <div class="col-md-1">
            </div>
            <div class="col-md-5 float-left">
                <img src="assets/img/Logo(black).png" style="width:100%;height:100%;" alt="contacts" />
            </div>
            <div class="col-md-6">
                <div class="col-md-12" style="margin-top: 5%;">
                    <p>Here should be contacts</p>
                    <p>Here should be contacts</p>
                    <p>Here should be contacts</p>
                    <p>Here should be contacts</p>
                    <p>Here should be contacts</p>
                    <p>Here should be contacts</p>
                    <p>Here should be contacts</p>
                    <p>Here should be contacts</p>
                </div>
            </div>
        </div>
    </div>
</div>