<h1 style="text-align:center">Projects</h1>
<div class="row" class="filter-box">

    <button (click)="showProjects()" class="filter-text">All</button>
    <h2> &emsp;</h2>
    <button (click)="showProjects(true)" class="filter-text">New</button>
    <h2> &emsp; </h2>
    <button (click)="showProjects(false)" class="filter-text">Old</button>
</div>
<div class="grid grid-pad row" id="scrollable-content">
    <a *ngFor="let project of projects" class="col-md-4" routerLink="/detail/{{project.id}}">
        <div class="module" [ngStyle]="{background:' url(assets/img/' + project.img_path + ')', 'background-size': '650px' }">
            <h4>{{project.name}}</h4>
            <h4>{{project.address}}</h4>
            <h4 *ngIf="project.new_project">New</h4>
            <a class="btn btn-secondary" routerLink="/detail/{{project.id}}" role="button">View details</a>
        </div>
    </a>
</div>