<div class="container-fluid bg-black ba-main-content-element">
    <div class="container-fluid">
        <h1 style="text-align:center;margin-bottom: 20px;">{{project.name}}</h1>
        <div class="row" style="height:10wh">
            <div class="col-md-1"></div>
            <div class="col-md-4 elem-center">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width=" 300" height=" 300">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <h2>NAME</h2>
                    Understand and deliver the desired value of each stake holder be it our customers, investors, owners, employees, government, society or the nature herself. Understand and deliver the desired value of each stake holder be it our customers, investors, owners,
                    employees, government, society or the nature herself. To enhance the lifestyle of the tenants/members of the society by providing them the redeveloped house which are superior in quality and design than their current houses. To focus
                    on incorporating the latest techniques and technology,to continuously innovate a flexible or comprehensive solution as per the (market) needs.
                </div>
                <div class="col-md-12 elem-center">
                    <a class="btn btn-secondary" routerLink="/" role="button">Back »</a>
                </div>
            </div>
        </div>
    </div>
</div>