<div class="container-fluid bg-black ba-main-content-element">
    <div class="container-fluid">
        <h1 style="text-align:center;margin-bottom: 5%;">{{member.name}}</h1>
        <div class="row" style="height:10wh">
            <div class="col-md-1"></div>
            <div class="col-md-4 elem-center">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width=" 300" height=" 300">
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <p>{{member.name}} - {{member.description}}</p>
                </div>
                <div class="col-md-12 elem-center">
                    <a class="btn btn-secondary" (click)="goBack()" role="button">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>