.filter-text {
    background: none!important;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    cursor: pointer;
}

.filter-box {
    font-size: 2em;
    display: flex;
    justify-content: center;
    height: 55px;
    margin-bottom: 20px;
}

.filter-text:hover,
.filter-text:focus,
.filter-text:active {
    color: #607d8b;
    font-size: 105%;
    outline: 0 !important;
}

@media screen and (max-width: 1200px) {
    .filter-box {
        font-size: 1.7em;
    }
}

@media screen and (max-width: 600px) {
    .filter-box {
        font-size: 1.2em;
    }
}