.filter-text {
    background: none!important;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    cursor: pointer;
}

.filter-box {
    font-size: 4vh;
    display: flex;
    justify-content: center;
    height: 55px;
}

.filter-text:hover,
.filter-text:focus,
.filter-text:active {
    color: #607d8b;
    font-size: 1.02cm;
    outline: 0 !important;
}