<div class="container-fluid">
    <h1 style="text-align:center; margin-top: 2%;">NRI FAQ</h1>
    <div class="row" id="scrollable-content">
        <div class="col-md-1"></div>
        <!-- <div class="col-md-10">
                <a class="nav-link" target="_blank" href="http://www.piramalrealty.com/nri-corner">Visin NRI web-site click here!</a>
            </div> -->
        <div class="col-md-10">
            <button class="show-text-of-button" (click)="showTab(0)">UNCATEGORIZED</button>

            <ul *ngIf="UNCATEGORIZEDTAB">
                <li>
                    <h3>Who is an NRI? </h3>
                    Non Resident Indian (NRI) is a citizen of India, who stays abroad for employment/carrying on business or vocation outside India or stays abroad under circumstances indicating an intention for an uncertain duration of stay abroad, is a non-resident. Non-resident
                    foreign citizens of Indian Origin are treated at par with Non Resident Indians (NRIs).
                </li>
                <li>
                    <h3>Who is a PIO?</h3>
                    Person of Indian Origin (PIO) (not being a citizen of Pakistan or Bangladesh or Sri Lanka or Afghanistan or China or Iran or Nepal or Bhutan), who (a) at any time, held an Indian passport, or (b) who or either of whose father or whose grandfather was
                    a citizen of India by virtue of the Constitution of India or the Citizenship Act, 1955 (57 of 1955).
                </li>
                <li>
                    <h3>Who is OCI?</h3>
                    <ul>
                        <li>Any person of full age and capacity
                            <ul>
                                <li>Who is a citizen of another country, but was a citizen of India at the time of, or at any time after, the commencement of the constitution, or</li>
                                <li>Who is a citizen of another country, but was eligible to become a citizen of India at the time of the commencement of the constitution, or</li>
                                <li>Who is a citizen of another country, but belongs to a territory that became part of India after the 15th Day of August, 1947.</li>
                                <li>Who is a child of such a citizen, or
                                </li>
                            </ul>
                        </li>
                        <li>
                            A person, who is minor child of a person mentioned in clause
                            <ul>
                                <li>Provided that no person, who is or had been a citizen of Pakistan, Bangladesh shall be eligible for registration as an Overseas Citizen of India.</li>
                            </ul>
                        </li>
                    </ul>

                </li>
                <li>
                    <h3>Who can purchase immovable property in India?</h3>
                    Under the general permission granted by RBI, the following categories can freely purchase immovable property in India: (a) Non-Resident Indian (NRI)- that is a citizen of India residing outside India (b) Person of Indian Origin (PIO)- that is an individual
                    (not being a citizen of Pakistan or Bangladesh or Sri Lanka or Afghanistan or China or Iran or Nepal or Bhutan), who (i) at any time, held Indian passport or (ii) who or either of whose father or whose grandfather was a citizen of
                    India by virtue of the Constitution of India or the Citizenship Act, 1955 (57 of 1955). The general permission, however, covers only purchase of residential and commercial property and not for purchase of agricultural land/plantation
                    property/farm house in India. OCI can purchase immovable property in India except agricultural land/plantation property/farmhouse.
                </li>
            </ul>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-1"></div>

        <div class="col-md-10">
            <button class="show-text-of-button" (click)="showTab(1)">INCOME TAX</button>
            <ul *ngIf="INCOMETAXTAB">
                <li>
                    <h3>Who should file tax returns?</h3>
                    If you are an NRI/OCI/PIO, you would have to file your income tax returns if you fulfill either of these conditions:
                    <ul>
                        <li>Your taxable income in India during the year was above the basic exemption limit of ` 1.6 lakh OR</li>
                        <li>You have earned short-term or long-term capital gains from sale of any investments or assets, even if the gains are less than the basic exemption limit.Note: The enhanced exemption limit for senior citizens and women is applicable
                            only to residents and not to non-residents.</li>
                    </ul>
                </li>
                <li>
                    <h3>Are there any exceptions? Yes there are 2 exception:</h3>
                    <ul>
                        <li>If your taxable income consisted only of investment income (interest) and/or capital gains income and if tax has been deducted at source from such income, you do not have to file your tax returns.</li>
                        <li>If you earned long term capital gains from the sale of equity shares or equity mutual funds, you do not have to pay any tax and therefore you do not have to include that in your tax return Tip: You may also file a tax return if
                            you have to claim a refund. This may happen where the tax deducted at source is more than the actual tax liability. Suppose your taxable income for the year was below ` 1.6 lakh but the bank deducted tax at source on your interest
                            amount, you can claim a refund by filing your tax return. Another instance is when you have a capital loss that can be set-off against capital gains. Tax may have been deducted at source on the capital gains, but you can set-off
                            (or carry forward) capital loss against the gain and lower your actual tax liability. In such cases, you would need to file a tax return.</li>
                    </ul>
                </li>
                <li>
                    <h3>What’s the best way to file tax returns?</h3>
                    Traditionally, you could file your return either by giving a power of attorney to someone in India or by sending your form and documents to a tax expert in India who would then file returns on your behalf. But nowadays, the easiest option for NRIs to
                    file their Indian tax returns is by using the online platform. There are several options to file online.
                </li>
            </ul>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-1"></div>

        <div class="col-md-10">
            <button class="show-text-of-button" (click)="showTab(2)">NRI/PIO/OCI HOME LOANS</button>

            <ul *ngIf="HOMELOANSTAB">
                <li>
                    <h3>Can a NRI/PIO acquire agricultural land/plantation property/farm house in India?</h3>
                    Since general permission is not available to NRI/PIO to acquire agricultural land/plantation property/farm house in India, such proposals will require specific approval of Reserve Bank and the proposals are considered in consultation with the Government
                    of India.
                </li>
                <li>
                    <h3>Are NRI/PIO/OCI eligible for Housing loans to buy property from any Indian Bank?</h3>
                    An authorised dealer or a housing finance institution in India approved by the National Housing Bank may provide housing loan to a non-resident Indian or a person of Indian origin residing outside India. for acquisition of a residential accommodation
                    in India, subject to the following conditions, namely:
                    <ul>
                        <li>the quantum of loans, margin money and the period of repayment shall be at par with those applicable to housing finance provided to a person residing in India.</li>
                        <li>the loan amount shall not be credited to Non-resident External (NRE)/Foreign Currency Non-resident (FCNR)/Non-resident non-repatriable (NRNR) account of the borrower. (c) the loan shall be fully secured by equitable mortgage by
                            deposit of title deal of the property proposed to be acquired, and if necessary, also be lien on the borrower’s other assets in India.</li>
                        <li>the instalment of loan, interest and other charges, if any, shall be paid by the borrower by remittances from outside India through normal banking channels or out of funds in his Non-resident External (NRE)/Foreign Currency Non-resident
                            (FCNR)/Non-resident Non-repatriable (NRNR)/Non-resident Ordinary (NRO)/non-resident Special Rupee (NRSR) account in India, or out of rental income derived from renting out the property acquired by utilization of the loan or
                            by any relative of the borrower in India by crediting the borrower’s loan account through the bank account of such relative (The word ‘relative’ means ‘relative’ as defined in section 6 of the Companies Act, 1956.)
                        </li>
                        <li>the rate of interest on the loan shall conform to the directives issued by the Reserve Bank of India or, as the case may be, the National Housing Bank.</li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-1"></div>

        <div class="col-md-10">
            <button class="show-text-of-button" (click)="showTab(3)">REPATRIATION OF FUNDS</button>

            <ul *ngIf="REPATRIATIONTAB">
                <li>
                    <h3>What are the rules governing the repatriation of the proceeds of sale of immovable properties by NRI/PIO as prescribed by the Reserve Bank of India?</h3>
                    <ul>
                        <li>If the property was acquired out of foreign exchange sources i.e. remitted through normal banking channels/by debit to NRE/FCNR(B) account, the amount to be repatriated should not exceed the amount paid for the property:</li>
                        <li>In foreign exchange received through normal banking channel or (ii) By debit to NRE account (foreign currency equivalent, as on the date of payment) or debit to FCNR(B) account. Repatriation of sale proceeds of residential property
                            purchased by NRI’s/PIO’s out of foreign exchange is restricted to not more than two such properties. Capital gains, if any, may be credited to the NRO account from where the NRI’s/PIO’s may repatriate an account up to USD one
                            million, per financial year, as discussed below.</li>
                        <li>If the property was acquired out of Rupee sources, NRI/PIO may remit an amount up to USD one million, per financial year, out of the balances held in the NRO account (inclusive of sale proceeds of assets acquired by way of inheritance
                            or settlement), for all the bonafide purposes to the satisfaction of the Authorized Dealer bank and subject to tax compliance. The NRI/PIO may use this facility to remit capital gains, where the acquisition of the subject property
                            was made by funds sourced by remittance through normal banking channels/by debit to NRE/FCNR(B) account.</li>
                    </ul>
                </li>
                <li>
                    <h3>Is the rental income from property repatriable and what are the RBI rules?</h3>
                    The rental income, being a current account transaction, is repatriable, subject to the appropriate deduction of tax and the certification thereof by a Chartered Accountant in practice. Repatriation of sale proceeds is subject to certain conditions. The
                    amount of repatriation cannot exceed the amount paid for acquisition of the immovable property in foreign exchange.
                </li>
            </ul>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-1"></div>

        <div class="col-md-10">
            <button class="show-text-of-button" (click)="showTab(4)">GAINS TAX ON PIO/NRI/OCI</button>

            <ul *ngIf="GAINSTAXTAB">
                <li>
                    <h3>How does the Double Taxation Avoidance Agreement work in the context of tax on income and Capital Gains tax paid in India by NRI?</h3>
                    India has DTAA’s with several countries which give a favorable tax treatment in respect of certain heads of income. However, in case of sale of immovable property, the DTAA with most countries provide that the capital gains will be taxed in the country
                    where the immovable property is situated. Hence, the nonresident will be subject to tax in India on the capital gains which arise on the sale of immovable property in India. Letting of immovable property in India would be taxed in
                    India under most tax treaties in view of the fact that the property is situated in India.
                </li>
                <li>
                    <h3>Does Capital Gains Tax (CGT) apply to NRI/PIO/OCI?</h3>
                    Yes. Long-term and short-term capital gains are taxable in the hands of nonresidents.
                </li>
                <li>
                    <h3>How is Rate of CGT computed?</h3>
                    Type of asset: Assets like house property, land and building, jewellery, development rights etc. Rate of tax deduction at source (TDS) Long term – 20.6% Short term – 30.9% Exemption available (only for long term capital gains) The long term capital gains
                    arising on sale of a residential house can be invested in buying/ constructing another residential house, within the prescribed time. The exemption is restricted to the amount of capital gains or amount invested in new residential
                    house, whichever is lower. 11 If the amount of capital gains is invested in bonds of National Highways Authority of India (NHAI) or Rural Electrification Corporation, then the entire capital gains is exempted, else the proportionate
                    gain is exempted. As per the financial budget 2007-08, a cap of Rs. 50 lakhs has been imposed on investment that can be made in capital tax saving bonds.
                </li>
            </ul>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-1"></div>

        <div class="col-md-10">
            <button class="show-text-of-button" (click)="showTab(5)">TAX ON INCOME FROM IMMOVABLE PROPERTY SELLING/RENTING</button>

            <ul *ngIf="TAXINCOMETAB">
                <li>
                    <h3>What is the Tax treatment for income generated from property selling or renting for NRI/ PIO/OCI?</h3>
                    The mere acquisition of property does not attract income tax. However, any income accruing from the ownership of it, in the form of rent (if it is let out)/annual value of the house (if is not let out and it is not the only residential property owned
                    by that person in India) and/or capital gains (short term or long term) arising on the sale of this house or part thereof is taxable in the hands of the owner.
                </li>
                <li>
                    <h3>Do NRI/PIO/OCI have to file return in India for their property rental income and Capital Gains Tax?</h3>
                    The Government of India has granted general permission for NRI/PIO/OCI to buy property in India and they do not have to pay any taxes even while acquiring property in India. However, taxes have to be paid if they are selling this property. Rental income
                    earned is taxable in India, and they will have to obtain a PAN and file return of income if they have rented this property. On sale of the property, the profit on sale shall be subject to 9 capital gains. If they have held the property
                    for less than or equal to 3 years after taking actual possession then the gains would be short term capital gains, which are to be included in their total income as tax as per the normal slab rates shall be payable and if the property
                    has been held for more then 3 years then the resultant gain would be long term capital gains subject to 20% tax plus applicable cess.
                </li>
                <li>
                    <h3>How does Double Taxation Avoidance Agreement work in the context of CGT paid in India on the foreign tax treatment?</h3>
                    In case the non-resident pays any tax on capital gains arising in India, he would normally be able to obtain a tax credit in respect of the taxes paid in India in the home country, because the income in India would also be included in the country of tax
                    residence. The amount of the tax credit as also the basis of computing the tax credit that can be claimed are specified in the respective country’s DTAA and is also dependent on the laws of the home country where the tax payer is a
                    tax resident.
                </li>
            </ul>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-1"></div>

        <div class="col-md-10">
            <button class="show-text-of-button" (click)="showTab(6)">DOCUMENTS REQUIRED FOR BUYING PROPERTY</button>

            <ul *ngIf="DOCUMENTSREQUIREDTAB">
                <li>Pan card (Permanent account number)</li>
                <li>OCI/PIO card (In case of OCI/PIO)</li>
                <li>Passport</li>
                <li>Passport size photographs</li>
            </ul>

        </div>

        <div class="col-md-1"></div>
        <div class="col-md-1"></div>

        <div class="col-md-10">
            <button class="show-text-of-button" (click)="showTab(7)">INDICATIVE LIST OF DOCUMENTS REQUIRED FOR HOME LOANS</button>

            <ul *ngIf="INDICATIVELISTOFDOCUMENTSTAB">
                <h3>Salaried individuals</h3>
                <li>Copy of employment contract</li>
                <li>Latest Salary slip</li>
                <li>Latest work permit</li>
                <li>Bank statement for 4 months or NRE/NRO a/c 6 months statement</li>
                <li>Passport/visa copy</li>
                <li>Utility bill for address proof</li>
                <li>PIO/OCI card</li>
                <li>Power of Attorney (if applicable, in respective bank’s format)</li>
                <li>Customer credit check report</li>
                <li>Property agreement duly registered or other related docs</li>
                <li>Income Tax returns last 2 years</li>

                <h3>Self-employed individuals</h3>

                <li>Balance sheets and P&L a/c of the company for last 3 years</li>
                <li>Bank a/c statements for last 6 months for company and individual, both</li>
                <li>Income tax returns (3 years)</li>
                <li>Passport/visa copy</li>
                <li>Utility bill for address proof</li>
                <li>PIO/OCI card</li>
                <li>Power of Attorney (if applicable, in respective bank’s format)</li>
                <li>Credit check report</li>
                <li>Property agreement or other related docs</li>
            </ul>

        </div>

        <div class="col-md-1"></div>
        <div class="col-md-1"></div>

        <div class="col-md-10" style="margin-top: 30px;">
            <p>Please refer to the below links for updated information</p>
            <p>Ministry of External Affairs: http://mea.gov.in/</p>
            <p>Indian Income tax: http://www.incometaxindia.gov.in/</p>
            <p>RBI (NRI FAQ): http://www.rbi.org.in/scripts/faqview.aspx?id=52</p>
        </div>
        <div class="col-md-1"></div>

    </div>
</div>